@{
	ViewData["Title"] = "ثبت نام یا ورود";
}

<div>
	<a asp-controller="Account" asp-action="Register" class="btn btn-primary">ثبت نام</a>
	<br />
	
	<a asp-controller="Account" asp-action="Login" class="btn btn-primary">ورود با  پیامک</a>
	<br />

	<a asp-controller="Account" asp-action="LoginByPassword">وورد با رمز عبور</a>
</div>