@{
	var culture = "fa";

	ViewData["Title"] = @ViewLocalizer["welcome", culture];

}
<div class="text-center">
	<h1 class="display-4">
		@ViewLocalizer["welcome", culture]
	</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

